body{
    overflow: hidden;
}

img{
    height: 50px;
}

.paginaGrupos{
    display: inline-flex;
    flex-direction: column;
    width: max-content;
}

.grupo{
    display: inline-flex;
    margin: 10px;

}

.texto{
    resize: none;
    flex-grow: 2;
    border-radius: 10px;
    padding: 10px;
    background-color: whitesmoke;
    font-size: large;
    margin-top: 5px;
}

textarea:focus{
    background-color: white;
}

.col-12{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.item{
    align-self: center;
}

.btn-success{
    align-self: center;
}

.container{
    width: 900px;
    background-color: teal;
    height: 100vh;
}

.col-4{
    border-right: 2px solid #E9EBED;
    overflow-y: scroll;
    max-height: 77vh;
}

.col-8{
    height: 77vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.col{
    display: flex;
    flex-grow: 1;
    min-height: 10vh;
    max-height: 15vh;
}

.row{
    border-top: 2px solid #E9EBED;
}
/*CSS da barra de rolagem*/

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: darkblue; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}