table,tr,td{
    border: 2px solid;
}

.tabuleiro{
    display: flex;
    border: none;
    justify-content: center;
    border-collapse: collapse;
}

.pecaVermelha {
    height: 60px;
    width: 60px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-left: 15px;
    margin-top: 4px;
}
.pecaAzul {
    height: 60px;
    width: 60px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
    margin-left: 15px;
    margin-top: 4px;
}

tr{
    margin: auto;
}
td{
    width: 90px;
    height: 72px;
}
