table,tr,td{
	position: relative;
	left: 18%;
	border: 5px solid black;
	padding: 100px;
	border-collapse: collapse;
	border-top-style: none;
	border-left-style: none;
	background-size: 202px 205px;
}
table,tr{
	border-right-style: none;
	border-bottom-style: none;
}
.rightBorderOut{
	border-right-style: none;
}
.leftBorderOut{
	border-left-style: none;
}
.botBorderOut{
	border-bottom-style: none;
}
